<%= form_for @gist, html: {class: "form-horizontal"} do |f| %>
  <% if @gist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gist.errors.count, "error") %> prohibited this gist from being saved:</h2>

      <ul>
      <% @gist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Snippet</span>
        <%= f.text_area :snippet, rows: 10, class: "form-control", placeholder: "Paste sample code here" %>
    </div>
  </div>
  
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">Description</span>
          <%= f.text_field :description, maxlength: 80, class: "form-control", placeholder: "Simple description of your gist" %>
      </div>
    </div>
 
    <div class="form-group">
      <div class="input-group col-sm-3">
          <span class="input-group-addon">Language</span>
          <%= f.select :lang, Pygments.lexers.keys.sort.map! {|l| l.downcase.strip}, {}, class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
        <div class="btn-group btn-group-lg">
            <% if @gist.persisted? %>
                <%= f.submit "Edit", class: "btn btn-success" %>
            <% else %>
                <%= f.submit "Create", class: "btn btn-success" %>
            <% end %>
            <%= link_to 'Back', gists_path, class: 'btn btn-danger' %>
            <% if @gist.persisted? %>
                <%= link_to 'Show', @gist, class: 'btn btn-info' %>
            <% end %>
        </div>
    </div>
  </div>
<% end %>
