<%= form_for @gist, html: {class: "form-horizontal"} do |f| %>
    <% if @gist.errors.any? %>
        <div class="form-group">
            <% @gist.errors.full_messages.each do |msg| %>
                <div class="alert alert-danger alert-error">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <%= msg %>
                </div>
            <% end %>
        </div>
    <% end %>

  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Snippet</span>
        <%= f.text_area :snippet, rows: 10, class: "form-control", placeholder: "Paste sample code here" %>
    </div>
  </div>
  
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">Description</span>
          <%= f.text_field :description, maxlength: 80, class: "form-control", placeholder: "Simple description of your gist" %>
      </div>
    </div>
 
    <div class="form-group">
      <div class="input-group col-sm-4">
          <span class="input-group-addon">Language</span>
          <%= f.select :lang, Pygments.lexers.sort.map{|key, value| [ value[:name], value[:aliases][0] ] }, {}, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <%= recaptcha_tags %>
        </div>
    </div>
    
    <div class="form-group">
        <div class="btn-group btn-group-lg">
            <% if @gist.persisted? %>
                <%= f.submit "Edit", class: "btn btn-success" %>
            <% else %>
                <%= f.submit "Create", class: "btn btn-success" %>
            <% end %>
            <%= link_to 'Back', gists_path, class: 'btn btn-danger' %>
            <% if @gist.persisted? %>
                <%= link_to 'Show', @gist, class: 'btn btn-info' %>
            <% end %>
        </div>
    </div>
  </div>
<% end %>
