<div class="container">
    <div class="page-header">
        <h1 style="display: inline;"><%= link_to "Gists list", "/" %></h1>
        <% if current_user %>
            <h1 style="display: inline; margin-left: 20px;"><%= link_to 'My gists', mygists_path %></h1>
        <% end %>
    </div>

    <div class="form-group">
        <div class="btn-group btn-group-lg">
            <%= link_to 'New Gist', new_gist_path, class: 'btn btn-large btn-success' %>
            <%= content_tag "a", 'Search', class: 'btn btn-large btn-info', "data-toggle" => "collapse", "data-target" => "#view_search" %>
        </div>
    </div>
    <div class="form-group collapse" id="view_search">
        <%= form_tag 'gists', :method => 'get' do %>
            <div class="input-group">
                <span class="input-group-addon">Snippet</span>
                <%= text_field_tag :snippet_search, params[:snippet_search], class: "form-control", placeholder: "Empty for all characters" %>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Description</span>
                <%= text_field_tag :desc_search, params[:desc_search], class: "form-control", placeholder: "Empty for all characters" %>
            </div>
            <div class="input-group col-sm-3">
                <span class="input-group-addon">Language</span>
                <%= select_tag :lang_search, options_for_select(Pygments.lexers.sort.map{|key, value| [ value[:name], value[:aliases][0] ] }), include_blank: true, class: "form-control" %>
            </div>
            <div class="input-group">
                <div class="btn-group btn-group-lg">
                    <%= submit_tag "Submit", :type => "submit", class: "btn btn-info" %>
                </div>
            </div>
        <% end %>
    </div>

    <div id="infinite-scrolling">
        <%= will_paginate @gists, renderer: BootstrapPagination::Rails %>
    </div>

    <div class="table-responsie">
        <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th class="col-sm-1">Id</th>
                  <th class="col-sm-1">Uid</th>
                  <th class="col-sm-1">Language</th>
                  <th class="col-sm-2">Description</th>
                  <th class="col-sm-10">Snippet</th>
            </tr>
          </thead>

          <tbody id="my-gists">
            <%= render @gists %>
          </tbody>
        </table>
    </div>

    <div id="infinite-scrolling">
        <%= will_paginate @gists, renderer: BootstrapPagination::Rails %>
    </div>

    <br/>

    <div class="form-group">
        <div class="btn-group btn-group-lg">
            <%= link_to 'New Gist', new_gist_path, class: 'btn btn-large btn-success' %>
        </div>
    </div>
</div>