<div class="container">
    <div class="page-header">
        <h1>Gists list</h1>
    </div>

    <div class="form-group">
        <div class="btn-group btn-group-lg">
            <%= link_to 'New Gist', new_gist_path, class: 'btn btn-large btn-success' %>
        </div>
    </div>

    <div class="table-responsie">
        <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th class="col-sm-1">Id</th>
                  <th class="col-sm-1">Language</th>
                  <th class="col-sm-1">Description</th>
                  <th class="col-sm-10">Snippet</th>
            </tr>
          </thead>

          <tbody>
            <% @gists.each do |gist| %>
                <tr class="rowlink" data-link="/gists/<%= gist.id %>">
                    <td><%= gist.id %></td>
                    <td><%= gist.lang %></td>
                    <td><%= gist.description %></td>
                    <%
                        if gist.snippet.lines.count > 3
                            my_string = gist.snippet.lines[0,3].join
                            my_string += "..."
                        else
                            my_string = gist.snippet
                        end
                    %>
                    <td><%= raw Pygments.highlight(my_string, lexer: gist.lang) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>

    <div class="form-group">
        <div class="btn-group btn-group-lg">
            <%= link_to 'New Gist', new_gist_path, class: 'btn btn-large btn-success' %>
        </div>
    </div>
</div>
